backend/db.sqlite3
backend/a/__pycache__/__init__.cpython-310.pyc
backend/a/__pycache__/admin.cpython-310.pyc
backend/a/__pycache__/models.cpython-310.pyc
backend/a/__pycache__/urls.cpython-310.pyc
backend/a/__pycache__/apps.cpython-310.pyc
backend/a/__pycache__/views.cpython-310.pyc
backend/a/migrations/__pycache__/__init__.cpython-310.pyc
backend/a/migrations/__pycache__/0001_initial.cpython-310.pyc
backend/backend/__pycache__/__init__.cpython-310.pyc
backend/backend/__pycache__/settings.cpython-310.pyc
backend/backend/__pycache__/urls.cpython-310.pyc
backend/backend/__pycache__/wsgi.cpython-310.pyc
